@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* * {
  box-sizing: border-box;
} */
body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  background-color: #34230f;
  overflow-x: hidden;
  /* overflow-x: hidden; is the code to remove horizontal scrolling bar */
}
.topnav {
  background-color: black;
  overflow: hidden;
  padding: 10px 20px;
}
a {
  text-decoration: none;
  color: white;
  float: left;
  /* text-align: center; */
  padding: 15px 40px;
  font-size: 18px;
}
.topnav a:hover {
  background-color: #57545488;
  color: antiquewhite;
}
.topnav a.active {
  background-color: #d79a276d;
  color: antiquewhite;
}
.container {
  border: 2px solid rebeccapurple;
  /* width: 400px; */
  display: inline-block;
  position: absolute;
  text-align: center;
  left: 15%;
  top: 85px;
  width: 700px;
  padding: 30px 50px;
  margin: 10px 20px;
  background: #dd8b55 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}
.figure {
  display: inline-block;
  width: 264px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.container .myintro {
  width: 380px;
  font-weight: 500;
}
hr {
  position: relative;
  top: 432px;
}
h3 {
  display: inline-block;
  position: absolute;
  left: 600px;
  top: 0px;
}
.bg-image {
  background-image: url(images/theatre2.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  top: 530px;
  color: wheat;
}
.head1 {
  color: beige;
  display: inline-block;
  position: absolute;
  left: 550px;
  top: 525px;
}
.aboutme {
  color: beige;
  /* border: 2px solid yellow; */
  display: inline-block;
  position: absolute;
  top: 600px;
  width: 600px;
  height: 400px;
  font-size: 13px;
  text-align: justify;
  margin: auto 15px;
}
.mainabout {
  color: beige;
  /* border: 2px solid yellow; */
  display: inline-block;
  position: absolute;
  top: 600px;
  left: 640px;
  width: 600px;
  height: 400px;
  font-size: 13px;
  text-align: justify;
}

.head2 {
  color: wheat;
  background-color: black;
  padding: 30px 40px;
  margin: 10px 10px;
  text-align: center;
  width: 100vw;
  position: relative;
  top: 1040px;
  right: 20px;
}
.figure2 {
  display: inline-block;
  width: 300px;
  height: 200px;
  position: absolute;
  top: 1280px;
  left: 65px;
}
.figure3 {
  display: inline-block;
  width: 300px;
  height: 200px;
  position: absolute;
  top: 1280px;
  left: 465px;
}
.figure4 {
  display: inline-block;
  width: 300px;
  height: 200px;
  position: absolute;
  top: 1280px;
  left: 865px;
}
